
#arriver, #depart, #hauteur, #largeur, #nombre, #profondeur, #prix,{
width: 50%
}
.container{
  margin-top: 50px
}
.button {
 margin-top: 25px;
 margin-left: 15px
}
label{
  color: white
}

  .select{
    margin-top: 25px
  }
body{
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bien{
  color: white;
  margin: auto;

}
.bien h1{
  font-size: 75px
}
